{% extends "home/base_home.html" %} 
{% load static %} 
{% block panel-content %}


<div class="grid-container">
   <center><img src="{% static 'img/ROBOT.png' %}" alt="100" width="100"></center>
   <div class="callout success" data-closable="slide-out-right">
   <h5 class="cell" style="text-align: center;">Bienvenido: {{user}}</h5>
   <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <div class="grid-y medium-grid-frame align-center">
        <div class="grid-x grid-padding-x align-center">
            
                <img src="{% static 'img/letran1.png' %}" alt="150" width="450">
                
            </div>
            
        </div>
    </div>
</div>

{% endblock panel-content %}