{% extends "producto/base_producto.html" %} 

{% load static %} 

{% block panel-content %}

        <form class="cell small-9 input-group" method="GET">

<div class="cell grid-x grid-margin-x">
    <p class="cell">Fecha:</p>
    <input type="date" name="date_start" id="date_start" class="cell medium-4">
    <input type="date" name="date_end" id="date_end" class="cell medium-4">
    <button class="cell medium-4 button success">Filtrar</button>
</div>
</form>
        

    <div class="cell grid-x grid-margin-x" style="margin-top: 2em;">
        <table class="hover"  >
            <thead>
                <th>Guia</th>
                <th>Bolsa</th>
                <th>Seudocodigo</th>
                <th>Cliente</th>
                <th>Domicilio</th>
                <th>Fecha</th>
                <th>id_mot</th>
                <th>Ver</th>
            </thead>
            <tbody>
                {% for e in object_list %}
                <tr>
                    <td>{{e}}</td>
                    <td>{{e.bolsa}}</td>
                    <td>{{e.seudo}}</td>
                    <td>{{e.id_ciu}}</td>
                    <td>{{e.direccion}}</td>
                    <td>{{e.fecha}}</td>
                    <td>{{e.cantidad}}</td>
                    <td> 
                        <a href="{% url 'producto_app:producto-detail' e.seudo %}" class="button warning"><i class="fi-eye"></i></a>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>

        <div class="cell">
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="pagination-previous">
                        <a href="?page={{page_obj.previous_page_number}}">Atras</a>
                    </li>
                    {% endif %}
                    
                    {% for pagina in paginator.page_range %}

                    
                    {% ifequal pagina page_obj.number %}
                    <li class="current"><span class="show-for-sr">You're on page</span> {{ pagina }}</li>
                    {% else %}
                    <li class=""><a href="?page={{pagina}}">{{ pagina }}</a></li>
                    {% endifequal %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
</div>

{% endblock panel-content %}