{% extends "producto/base_producto.html" %} 

{% load static %} 

{% block panel-content %}

    <form class="cell small-9 input-group" method="GET"> {% csrf_token %}
        <div class="input-group">   
            <span class="input-group-label"></span>
            <input class="input-group-field" type="text" id="kword" name="kword" placeholder="Bolsa o seudo...">
            <div class="input-group-button">
                <input type="submit" class="button secondary" value="Buscar">
            </div>
        </div>
    </form>
        
    <table class="hover"  >
        <thead>
            <th>Guia</th>
            <th>Bolsa</th>
            <th>Seudocodigo</th>
            <th>Cliente</th>
            <th>Domicilio</th>
            <th>Fecha</th>
            <th>Motivo</th>
            <th>Detalle</th>
                <!-- <th>Tracking</th> -->
        </thead>
        <tbody>
            {% for e in object_list %}
            <tr>
                <td>{{e}}</td>
                <td>{{e.bolsa}}</td>
                <td>{{e.seudo}}</td>
                <td>{{e.id_ciu}}</td>
                <td>{{e.direccion}}</td>
                <td>{{e.fecha}}</td>
                <td>{{e.mot}}</td>  
                <td> 
                    <a href="{% url 'producto_app:producto-detail' e.id_guia %}" class="submit success button "><i class="fi-eye"></i></a>
                </td>
                    
            </tr>
                {% endfor %}
        </tbody>
    </table>

    <div class="cell">
        {% if is_paginated %}
        <nav aria-label="Pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="pagination-previous">
                    <a href="?page={{page_obj.previous_page_number}}">Atras</a>
                </li>
                {% endif %}
                
                <li class="current"><span class="show-for-sr">You're on page</span> Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</li>
                
                <li class=""><a href="?page={{pagina}}">{{ pagina }}</a></li>
                
                {% if page_obj.has_next %}
                <li class="pagination-next">
                    <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>        
            
{% endblock panel-content %}
