{% extends "producto/base_producto.html" %} 

{% load  static %}

{% block panel-content %}

    <div class="grid-x grid-margin-x align-center">
        <h5 class="cell" style="margin-bottom: 1em; text-align: center;">Detalle </h5>  
        <div class="cell medium-9 grid-x grid-margin-x align-center">

        
         <form>
            <ul class="accordion" data-accordion data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" id="deeplinked-accordion">
                <li class="accordion-item is-active" data-accordion-item>
                  <a href="#deeplink1" class="accordion-title">Detalle</a>
                  <div class="accordion-content" data-tab-content id="deeplink1">
                   
                  
            <div class="grid-container">
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Guia:</span> {{ object }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Bolsa:</span> {{ object.bolsa }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">servicio:</span> {{ object.id_ser }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Documento de indentidad:</span> {{ object.id_clie }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Fecha:</span> {{ object.fecha }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Motivo:</span> {{ object.mot }}</p>
                </div>
                
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Estado cliente:</span> {{ object.id_est }}</p>
                </div>
            </div>
        </li>
                
        <li class="accordion-item" data-accordion-item>
            <a href="#deeplink2" class="accordion-title">Historial</a>
            <div class="accordion-content" data-tab-content id="deeplink2">
                <table>
                    <thead>
                      <tr>
                        <th width="277">Fecha</th>
                        <th width="277">Estado</th>
                        <th width="277">Motivo</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for e in recepcion_list %}
                      <tr>
                        
                        <td>{{ e.seudo }}</td>
                        <td>{{ e.id_est }}</td>
                        <td>{{ e.mot }}</td>
                          
                        
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#deeplink2" class="accordion-title">Guia</a>
            <div class="accordion-content" data-tab-content id="deeplink2">
              <div class="card-section">
        
                    <img src="{{object.image_mesa.image.url}}">
                    
                </div>
            </div>
          </li>
                
              </div>
            </div>
          </form>

          
          </table>

        

          

{% endblock panel-content %}