{% extends "guia/base_fisico.html" %} 

{% load static %}

{% block panel-content %}

<div class="grid-x grid-margin-x align-center">
  <h3 class="cell" style="margin-bottom: 2em; text-align: center;">Cargue de imagenes</h3>  
  <form method="POST" enctype="multipart/form-data">{% csrf_token %} 
        
      <label for="exampleFileUpload" class="button">Buscar</label>
      <input id="exampleFileUpload" type="file" class="show-for-sr" name="images" multiple>
  
    <button type="submit" class="button secondary" style="width: 200px;">Guardar</button>
  
  </form>

{% for img in all_images %}
<img src = "{{img.images.url}}">

{% endfor %}

</div>

{% endblock panel-content %}