{% extends "guia/base_fisico.html" %} 

{% load static %}

{% block panel-content %}

<div class="grid-x grid-margin-x align-center">
  <h3 class="cell" style="margin-bottom: 2em; text-align: center;">Cargue de imagenes</h3>  
  <form method="POST" enctype="multipart/form-data">{% csrf_token %} 
        
      <label for="exampleFileUpload" class="button">Buscar</label>
      <input id="exampleFileUpload" type="file" class="show-for-sr" name="images" multiple>
  
    <button type="submit" class="button secondary" style="width: 200px;">Guardar</button>
  
  </form>

</div>
<br>
<table class="hover">
  <caption>Fisicos digitalizados</caption>
  <thead>
    <tr>
      <th>guia</th>
      <th>fecha</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
  {% for e in lista %}
    <tr>
      <td>{{e.id_guia }}</td>
      <td>{{e.mod_date}}</td>
      <td>{{e.user}}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Cantidad</th>
      <th>{{count}}</th>
    </tr>
  </tfoot>

</table>
{% endblock panel-content %}