{% extends "base.html" %} 

{% load static %}

{% block content %}


<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left" style="background-color: #424242;">
            <div class="row column">
                <h3 style="text-align: center; padding: 0.3em; color: #008cff;">Firstsource</h3>
                <ul class="vertical menu">
                    <li>
                        <a href="#"><span class="label warning">Consultar</span></a>
                        <ul class="nested vertical menu">
                            <li class="{% if request.resolver_match.url_name == 'lista-cliente' %}activeli{% endif %}">
                                <a href="{% url 'producto_app:lista-cliente' %}" style="color: white;">Productos</a>
                            </li>
                        </ul>
                </ul>
                <ul class="vertical menu">
                    <li>
                      <a href="#"><span class="label warning">Custodia</span></a>
                      <ul class="nested vertical menu">
                        <li class="{% if request.resolver_match.url_name == 'venta-index' %}activeli{% endif %}">
                          <a href="{% url 'producto_app:producto-crear' %}" style="color: white;">Agregar fisico</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'caja-index' %}activeli{% endif %}">
                          <a href="{% url 'fisico_app:fisico-paquete' %} " style="color: white;">Agregar fisico paquete</a>
                        </li>
                      </ul>
                    </li>
                </ul> 
                <ul class="vertical menu">
                    <li>
                      <a href="#"><span class="label warning">Ruta</span></a>
                      <ul class="nested vertical menu">
                        <li class="{% if request.resolver_match.url_name == 'venta-index' %}activeli{% endif %}">
                          <a href="{% url 'ruta_apps:cargue-ruta' %}" style="color: white;">Ruta</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'venta-index' %}activeli{% endif %}">
                            <a href="{% url 'ruta_apps:cargue-recepcion' %}" style="color: white;">Recepcion</a>
                          </li>
                        
                        </li>
                      </ul>
                    </li>
                </ul> 
            </div>
        </div>
    
                <div class="off-canvas-content" data-off-canvas-content>
                    <!-- declaramos un nuevo bloque para contenidod e panel -->
                    <div class="grid-x">
                        <div class="cell top-bar" style="background-color: #424242;">
                            <div class="top-bar-left">
                                <h4 style="color: white;">Sesion de: {{ user.full_name }}</h4>
                            </div>
                            <div class="top-bar-right">
                                <a href="{% url 'users_app:user-logout' %}">
                                    <span class="label warning">Salir</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-container" style="padding: 1em;">
                        {% block panel-content %}
                        {% endblock panel-content %}
                    </div>
                </div>
            
        </div>
    </div>
</div>

{% endblock content %}