{% extends "call/base_call.html" %} 

{% load static %}

{% block panel-content %}

<p>Editar
<form method="post">{% csrf_token %}
    
    {{ form.as_p }}
    
    <div class="cell medium-6">
        <button type="submit" class="button" style="width: 200px;">Guardar</button>

    </div>
</form>     
<!-- <table>
    <thead>
        <th>Seudo</th>
        <th>prueba</th>
    </thead>
    <tbody>
        {% for e in object_list %}
        <tr>
            <td>{{e.seudo}}</td>
            <td>{{e.d_i}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>  -->

{% endblock panel-content %}