{% extends "call/base_call.html" %} 

{% load static %}

{% block panel-content %}

<div class="grid-x grid-margin-x align-center">
    <h3 class="cell" style="margin-bottom: 2em; text-align: center;">Auditoria</h3>  
    <form class="cell medium-9 grid-x grid-margin-x" method="POST">{% csrf_token %}

            <label>Seudo:</label>
            <div class="input-group">
               
                {{form.entregas}}
            </div>
       
        <div class="cell medium-6">
            <span class="label secondary">Preguntas</span>
            <div class="input-group">
                {{form.pregunta_1}}
            </div>
        </div>
        <div class="cell medium-6">
            <span class="label secondary">Calificaciones</span>
            <div class="input-group">
                {{form.calificacion_1}}
            </div>
        </div>
        <div class="cell medium-6">
            
            <div class="input-group">
                {{form.pregunta_2}}
            </div>
        </div>
        <div class="cell medium-6">
            
            <div class="input-group">
                {{form.calificacion_2}}
            </div>
        </div>
        <div class="cell medium-6">
            
            <div class="input-group">
                {{form.pregunta_3}}
            </div>
        </div>
        <div class="cell medium-6">
           
            <div class="input-group">
                {{form.calificacion_3}}
            </div>
        </div>
        <div class="cell medium-6">
            
            <div class="input-group">
                {{form.pregunta_4}}
            </div>
        </div>
        <div class="cell medium-6">
            
            <div class="input-group">
                {{form.calificacion_4}}
            </div>
        </div>
        <div class="cell medium-6">  
            <div class="input-group">
                {{form.pregunta_5}}
            </div>
        </div>
        <div class="cell medium-6">    
            <div class="input-group">
                {{form.calificacion_5}}
            </div>
        </div>
        <div class="input-group">
            {{form.observacion}}
        </div>
        <div class="cell medium-6">  
            <div class="input-group">
                <label>Motivo
                    {{form.motivo_call}}
                </label>
            </div>
        </div>

        <div class="cell medium-6">
            <div class="input-group">
                <label>Guardar
                    <button class="cell medium-4 button success">Guardar</button>
                </label>
            </div>
        </div>
    </form>   
</div>   

   
    

{% endblock panel-content %}