{% extends "ruta/base_cargue.html" %} 

{% load static %}

{% block panel-content %}



<div class="grid-x grid-margin-x align-center">
    <h3 class="cell" style="margin-bottom: 2em; text-align: center;">Recepcion</h3>  
    <form class="cell medium-9 grid-x grid-margin-x" method="POST">{% csrf_token %}

            <div class="cell medium-6">
                <label>Planilla:</label>
                <div class="input-group">
                    <span class="input-group-label"><i class="fi-archive"></i></span>
                    {{form.planilla}}
                </div>
            </div>
        
            <div class="cell medium-6">
                <label>Motivo:</label>
                <div class="input-group">
                  <span class="input-group-label"><i class="fi-archive"></i></span>
                  {{form.motivo}}
                </div>
            </div>

            <div class="cell medium-6">
                <label>Estado:</label>
                <div class="input-group">
                  <span class="input-group-label"><i class="fi-archive"></i></span>
                      {{form.estado}}
                </div>
            </div>
        
            <div class="cell medium-6">
                <label>Guia:</label>
                <div class="input-group">
                   
                    <input type="text" maxlength="10" placeholder="Barcode Guia" name="guia" id="idGuia_0" autofocus >
            </div>
                </div>

            <div class="cell medium-6"></div>
                <button type="submit" class="success button" style="width: 200px;">Guardar</button>
    </div>
    </form>   
</div>   
        


{% endblock panel-content %}


