{% extends "fisico/base_fisico.html" %} 

{% load static %}

{% block panel-content %}

<div class="grid-x grid-margin-x">
  <form class="cell grid-x grid-margin-x" method="GET">
    <div class="cell input-group">
      <span class="input-group-label">Buscar</span>
      <input class="input-group-field" type="text" id="kword" name="kword" 
        value="{{request.GET.kword}}"
        placeholder="Buscar ..."
        >
    </div>
<table>
    <thead>
      <tr>
        <th width="200">Guia</th>
        <th>Seudo</th>
        <th width="150">motivo</th>
        <th width="150">estado</th>
      </tr>
    </thead>
    <tbody>
        {% for e in historial %}
      <tr>
        <td>{{e.guia}}</td>
        <td>{{e.motivo}}</td>
        <td>{{e.estado}}</td>
        <td>{{e.fecha}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock panel-content %}