<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Planillas</h2>
    <h3>Cantidad de guias: {{ count }}</h3>
    <table border="1">
        <thead>
            <th>id</th>
            <th>Guia</th>
            <th>Mensajero</th>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.id }}</td>
                    <td>{{ empleado.guia }}</td>
                    <td>{{ empleado.mensajero }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
<br><footer>
    <hr  width="200" >
    Firma custodia </footer>
</html>