{% extends "fisico/base_fisico.html" %} 

{% load static %}

{% block panel-content %}

    <title>Pistoleo</title>
 
    <form method="post"> {%csrf_token%}
<div class="medium-6 cell">
    <div class="grid-x grid-padding-x"></div>
    <div class="medium-6 cell"></div>
               
            <h1>Pistoleo</h1>
                <label for="id_Bolsa">Bolsa:</label>
                <input type="number" placeholder="Código Barras" name="Bolsa" required="" id="id_Bolsa" autofocus="autofocus">

                <label for="id_Seudo">Seudo:
                <input type="text" placeholder=".medium-6.cell" name="Seudo" maxlength="35" required="" id="id_Seudo">
                </label>

            <!-- <button type="submit" style="background-color:#78b785" >Agregar</button> -->

            <button type="submit" class="success button">Agregar</button>
    </div>  
        </div>  
</div>         
        </form>
        
        {% endblock panel-content %}
    
        
