{% extends "fisico/base_fisico.html" %} 

{% load static %}

{% block panel-content %}

<h1>Crear bolsa</h1>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Guardar">
</form>

<div class="cell grid-x grid-margin-x" style="margin-top: 2em;">
    <table class="hover"  >
        <thead>
            
            <th>Bolsa</th>
            
        </thead>
        <tbody>
            {% for e in object_list %}
            <tr>
               
                <td>{{e.bolsa}}</td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

{% endblock panel-content %}