{% extends "datos_g/base_datos_g.html" %} 
% load static %}

{% block panel-content %}
<h4>Imprimir</h4>

<div class="grid-x grid-margin-x">
<form method="post">{% csrf_token %}
</div>

<table class="hover">
    <caption>REAGENDAMIENTOS</caption>
    <thead>
        <th>Orden de impresion</th>
        <th>Nombre</th>
        <th>Imprimir</th>
    </thead>
    <tbody>
        {% for e in orden  %}
        <tr>
            <td>{{ e.orden }}</td>
            <td>{{e.nombre_orden}}</td>
            <td>
                <a href="{% url 'gatos_g:pdg-guia-agendamiento' e.orden %}" class="button"><i class="fi-print"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="hover">
    <caption>AGENDAMIENTOS</caption>
    <thead>
        <th>Orden de impresion</th>
        <th>Nombre</th>
        <th>Imprimir</th>
    </thead>
    <tbody>
        {% for e in ordentwo  %}
        <tr>
            <td>{{ e.orden }}</td>
            <td>{{e.nombre_orden}}</td>
            <td>
                <a href="{% url 'gatos_g:pdg-guia-agendamiento' e.orden %}" class="button"><i class="fi-print"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock panel-content %}