{% extends "datos_g/base_datos_g.html" %} 
% load static %}

{% block panel-content %}
<h4>Imprimir agendamientos </h4>

<div class="grid-x grid-margin-x">
    <form class="cell grid-x grid-margin-x" method="GET">
      <div class="cell input-group">
        <span class="input-group-label">Buscar</span>
        <input class="input-group-field" type="text" id="courrier" name="courrier" 
          value="{{request.GET.kword}}"
          placeholder="Buscar ..."
          >
      </div>

<div class="grid-x grid-margin-x">
<form method="post">{% csrf_token %}
</div>

<table>
    <thead>
        <th>Orden de impresion</th>
        <th>Nombre</th>
        <th>Imprimir</th>
    </thead>
    <tbody>
        {% for e in orden  %}
        <tr>
            <td>{{ e.orden }}</td>
            <td>{{e.nombre_orden}}</td>
            <td>
                <a href="{% url 'gatos_g:pdg-guia-agendamiento' e.orden %}" class="button"><i class="fi-print"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table>
    
    <tbody>
        {% for e in ordentwo  %}
        <tr>
            <td>{{ e.orden }}</td>
            <td>{{e.nombre_orden}}</td>
            <td>
                <a href="{% url 'gatos_g:pdg-guia-agendamiento' e.orden %}" class="button"><i class="fi-print"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock panel-content %}