
<html>
<head>
    <style>

    @page {
        size: letter landscape;
        

    @frame col1_frame {             /* Content frame 1 */
        left: 3pt; width: 390 pt; top: 3pt; height: 625pt;
    }
    
    @frame col2_frame {             /* Content frame 2 */
        left: 400pt; width: 390pt; top: 3pt; height: 625pt;
    }
    
    p {
    border: gray 0px solid;  
    padding: 1px;
    }

    }
    
   </style>
    
</head>
<body>
    
    
    {% for e in pdf_guia %}    
    
    <table border="1">
		<tr>
			<td >Destinatario:</td>
			<td colspan="2"><strong> {{ e.dest }} </strong></td>            
		</tr>
		<tr>
			<td colspan="3"><font size=2> {{ e.direccion }} </font></td>	
		</tr>
		<tr>
			<td>Telefono:</td>
            <td>1</td>
            <td> <strong>{{e.id_ciu}} </strong></td>
		</tr>
	</table>                   
    <table BORDER="1px" >
        <td>Firstsource</td>
        <td>Nit:900861729</td>
        <td width="259">RESOLUCION MINTIC NO. 3290 del 4 de diciembre de 2018</td>
    </table>
         
    <table BORDER="">		
		<tr>
			<td width= "130" rowspan="5"><pdf:barcode value="{{ e.seudo_dg }}" type="code128"  barwidth ="0,9" middle="20"/></td>
            <td>Domicilio</td>  
            <td width= "30"><strong> ${{e.seudo_dg.domicilio}} </strong></td>              
            <td >Tipo de envio: </td>     
            <td width= "100"><strong>Mensajeria</strong> </td>                         
        </tr>           			
		<tr>
			<td>Acarreo:</td>
            <td width= "30"><strong> $0 </strong></td>     
            <td >Unidades:</td>
            <td><strong> <strong> 1  </strong> Peso: <strong> 0,02 kg </strong></strong></td>
		</tr>
        <tr>
			<td>Declarado </td>
            <td width= "30"><strong> ${{e.seudo_dg.declarado}} </strong></td>     
            <td></td>
            <td rowspan="3">Davivienda Cl 28 # 13 A - 17 Bogota Bogota, D.C. ColombiaTel:8903906</td>           
		</tr>
        <tr>
			<td>s/flete: </td>
            <td><strong> $0 </strong></td>
            <td rowspan="2">Remitente:</td>                     
		</tr>
        <tr>
			<td>Flete:</td>
            <td><strong> $0</strong></td>                  
		</tr>
        <tr>
            <td ALIGN="center"><h1> {{ e.seudo_dg }}</h1> </td>
			<td>Total:</td>
            <td><strong>$0 </strong></td>
            <td>Contiene:</td>
            <td>{{e.id_pro}}</td>
        </tr>
        <tr>				
            <td>{{e.proc.proceso}}</td>
            <td >Bolsa:</td>    
            <td colspan="2"><h1><strong>{{e.seudo_dg.bolsa}} </strong></h1></td>
            <td type="text"><h1  ><strong> {{forloop.counter}} - {{e.seudo_dg|cadena_texto|cuts}}</strong></h1></td>    
        </tr>     
        <tr>
		    <td colspan="5"> Destinatario:<strong>{{e.dest}} </strong> </td>                                     
        </tr>
        <tr>
            <td colspan="5"> <p> {{ e.direccion}} </p></td>     
        </tr>
        <tr>
            <td><strong>C.C  <strong>{{ e.d_i }} </strong></strong></td>
            <td>C.postal: <strong> {{ e.seudo_dg.postal }}</strong> </td>  
            <td colspan="3"> Ciudad: <strong> {{e.id_ciu}} </strong></td>      
        </tr>  
    </table>          
       
	<table BORDER="">        
        <tr>
            <td>Fecha proxima Entrega:</td>
            <td>{{e.fecha }} </td>
        </tr>
        <tr>
            <td>Fecha y hora Llegada:</td>
            <td><strong> {{e.seudo_dg.fecha}} </strong></td>
        </tr>
        </table>
        <table BORDER="1">
            <tr >
                <td>Recibe:</td>
                <td >Tipo D:</td>
            </tr>
            <tr>
                <td>Fecha de entrega:</td>
            </tr>
        </table>
        </table>    
        <table BORDER="1" >
            <thead>
                <th width="150">Devoluciones</th>
                <th>Dconocido</th>
                <th>Rehusado</th>
                <th>N reside</th>
                <th>N reclama</th>
                <th>Dr errada</th>
                <th>Otro</th>                 
            </thead>
        </table>
        <table red BORDER= "1" >        
            <tr>         
                <td width="30">1 Intento</td>
                <td width="24">D:</td>
                <td width="24">M:</td>
                <td width="24">A:</td>
                <td width="24">h:</td>
                <td width="24">m:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>         
                <td>2 Intento</td>
                <td>D:</td>
                <td>M:</td>
                <td>A:</td>
                <td>h:</td>
                <td>m:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>       
            </tr>
            <tr>         
                <td>3 Intento</td>
                <td>D:</td>
                <td>M:</td>
                <td>A:</td>
                <td>h:</td>
                <td>m:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
            </tr>
        </table>
       
        <tfoot> 
            <font size=1>El usuario deja constancia expresa de que tuvo conocimiento del contrato que se encuentra publicado en la pagina web letran.com.co el 
                cual regula el servicio acordado entre las partes, cuyo contenido clausular acepta expresamente con la suscripcion de este documento. El 
                cliente puede realizar el rastreo de sus envios en la pagina web letran.com.co o en la linea telefonica +57 (1) 8903906. El cliente puede 
                presentar sus peticiones,quejas y recursos en la web y telefono descrito anteriormente o a traves del correo electronico
                servicio@firstsource.net.co 
                <hr width=385> <br> <br> <hr width=385>
            </font>    
        </foot>    
	      
            {% endfor %}   
        </body>
            </html>        
         
            
