{% extends "guia/base_fisico.html" %} 

{% load static %}

{% block panel-content %}
<div class="grid-x grid-margin-x">
    <form class="cell grid-x grid-margin-x" method="GET">
      <div class="cell input-group">
        <span class="input-group-label">Buscar guia</span>
        <input class="input-group-field" type="text" id="id_guia" name="id_guia" 
          value="{{request.GET.kword}}"
          placeholder="Buscar .........">

      </div>
      
</div>
    <div class="cell medium-6"></div>
                <button type="submit" class="cell primary button" style="width: 200px;">Consultar</button>
    </div>

    <div class="cell grid-x grid-margin-x">
        <h5 class="cell" style="text-align: center;">Registro encontrado</h5>
        <div class="cell">
          <table>
            <thead>
                <th>Guia</th>
                
            </thead>
            <tbody>
                {% for e in guia %}
                <tr>
                    <td>{{e.id_guia}}</td>
                    <td>
                        <a href="{% url 'producto_app:busca-guia' e.id_guia %}" class="button"><i class="fi-print"></i></a>
                        </td>
                    
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        </div> 
</div>   
   
    


{% endblock panel-content %}